{% extends "base.html" %}

{% block content %}
	<body>
	
	<form method="post">
		<div>Title</div>
		<input type="text" name = "subject" value="{{subject}}">
		<br>
		<br>
		<div>content</div>
		<textarea name = "content" value = "{{content}}"></textarea>
		<br>
		<br>
		<button class="btn waves-effect waves-light" type="submit" name="action">Submit
		<i class="material-icons right">send</i>
		</button>
		<div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
		<a class="btn-floating btn-large red" href="/blog">
		<i class="material-icons">menu</i>
		</a>
		</div>
		<div class = "error">{{error}}</div>
	
	</form>
	
	
	</body>

{% endblock %}
